/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#banner {
  background: black;
  padding:0px;
  border-bottom: 4px solid;
  font: small-caps 50px/40px "Times New Roman", serif;
  color: #80324C;
  text-align: center;
  float: left;

  img {
    float: center;
  }
}
#h2{
background-color: #ffffff;
color: black;

}
#nav {
  float: center;
  background-color: #80324C;
  white-space: nowrap;  
  width: 100%;
}

#nav ul {
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size:17px;
   
}

#nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.7em 0;
  margin:0 40px 11px 0;   
}

#nav ul li a {
  padding: 0 5px;
  font-weight: bold;

}

#nav ul li a:visited {
  color: #FFFFFF;
  
}
;
#nav ul li a:hover {
  color: #80324C;
  background-color: #ffcccc;

}
 a.link-to { 
 color: #d13342; 
 
 }
 a.link-to:hover {
  color: #80324C;
  background-color: #ffcccc;

}

a.link-to-c { 
  color: #ccffff; 
 
 }
 
#reviewsTbl{
   align:center;
   width:30%;

}

.like:hover{
	text-decoration: none;
}

.thumb-box {
	height: 600px;
}