// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
    width:900px;
}
.itemHolder{
    margin:0;
    pading:0;
	
}

.itemHolder li{
    float:left;
    margin-bottom:10px;
	margin-right: 40px;
	margin-left: 40px;
	list-style: none;
}

.itemHolder li div{
    width:500px;
}

	
