// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ud{
td,tr,th {
	text-align: center;
	font-size:30px;
	}
	td{
	width: 250px;
	padding: 10px;
	font-size:20px;
	color: black;
	
	}
	th{
	color: #d21e48;}
	td{
	color: #614c51;}
	
  	
	
}

#form-group label{
	color: #d21e48;
	
	}

  #boxshadow{
                box-shadow: 0px 15px 25px rgba(0, 0, 0, .25);
                position: inherit;
                background:#f0f0f0;
                font-size:large;
                padding-top: 2%;
                padding-bottom: 2%;
				width:70%;
				left:15%;
				height:70%;
				bottom:0px;
				text-align:center;
				
               
              
            }