<center>
<strong><font size = "4" color=#000000>

<h1>Editing ...</h1>

<div align="left">
	| <%= link_to 'Show', @brand, class: 'link-to' %> |
	<%= link_to 'Back', brands_path, class: 'link-to' %> |
</div>

<%= render 'form' %>

</font>
</center>