<center>
<strong><font size = "4" color=#000000>

<h1> <%= @brand.name%> Products </h1>

<% @brand.products.each do |product| %>
	<div class="col-sm-6 col-md-4">
	    <hr>
			<h2 style="text-align:center;"><%= product.name %></h2>
			<img src="../assets/<%= product.image%>/" width="150" height="150">
		<hr>
  </div>
	<% end %>

</strong>
</font>
</center>